html,
body,
#root {
  height: 100%
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #353434;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
